@args (String currentUrl, FlashMessage alert, String csrfValue, SignUpForm form, SignUpErrors errors)

@views.devise_layout.template(currentUrl, alert, csrfValue) -> {
  <h2>Sign up</h2>
  <form accept-charset="UTF-8" action="/users" class="simple_form new_user" id="new_user" method="post">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input name="authenticity_token" type="hidden" value="@csrfValue" />
    </div>

    @if (errors.any()) {
      <p class=error_notification>Please review the problems below:</p>
    }

    <div class='form-inputs'>
      <div class="input email required user_email
        @if (errors.email != null) { field_with_errors }">
        <label class="email required" for="user_email">
          <abbr title="required">*</abbr>
          Email
        </label>
        <input aria-required="true" autofocus="autofocus" class="string email required" id="user_email" maxlength="255" name="user[email]" required="required" size="255" type="email" value="@form.email" />
        @with? (String error = errors.email) {
          <span class="error">@error</span>
        }
      </div>

      <div class="input password required user_password
        @if (errors.password != null) { field_with_errors }">
        <label class="password required" for="user_password">
          <abbr title="required">*</abbr>
          Password
        </label>
        <input aria-required="true" class="password required" id="user_password" maxlength="128" name="user[password]" required="required" size="128" type="password" />
        @with? (String error = errors.password) {
          <span class="error">@error</span>
        }
      </div>

      <div class="input password required user_password_confirmation
        @if (errors.passwordConfirmation != null) { field_with_errors }">
        <label class="password required" for="user_password_confirmation">
          <abbr title="required">*</abbr>
          Password confirmation
        </label>
        <input aria-required="true" class="password required" id="user_password_confirmation" name="user[password_confirmation]" required="required" type="password" />
        @with? (String error = errors.passwordConfirmation) {
          <span class="error">@error</span>
        }
      </div>
    </div>
    <div class='form-actions'>
      <input class="button btn btn-primary" name="commit" type="submit" value="Sign up" />
    </div>
  </form>
}
